<html>
                <head>
                <title> This is simple webpage </title>
                </head>
                <body>
                <h1> This is a grooming website from Cookbook </h1>
                </body>
</html>
